
.home-container {
    background-image: url('frontend\public\Images\images.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}



.info-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    margin: 0 15px;
    flex: 1;
    max-width: 300px;
    min-width: 250px;
}

.info-header {
    text-align: center;
    margin-bottom: 10px;
}

.info-content {
    text-align: center;
}

.info-box:hover {
    transform: scale(1.03);
}
